.aboutMeMainDiv {
  width: 80vw;
  align-self: center;
  padding: 10px;
  margin: 2rem 0 0 0;
  flex-wrap: wrap;

  .title {
    padding: 5px;
    margin-bottom: 1rem;
    font-size: 1.9em;
    text-transform: uppercase;
  }

  .aboutMe {
    padding: 15px 35px;
    background-color: rgb(95, 92, 92);
    display: flex;
    gap: 2rem;

    .text {
      display: flex;
      align-items: center;
      width: 90%;
      text-align: left;
      font-size: 1.3em;
      line-height: 2em;
    }
    .picturediv {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 70%;

      .pictureText {
        list-style-type: none;
        font-size: 1.4em;
        line-height: 2em;
      }
      .avatar {
        width: 40%;
        border-radius: 50%;
        // transform: translateX(-50%);
        transform: translateX(50%) 2s;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .text {
    border-right: 5px dotted #cccc;
  }

  .picturediv {
    margin-left: 0.5rem;
    .pictureText {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .aboutMeMainDiv {
    .aboutMe {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0;

      .picturediv {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 1rem;

        .pictureText {
          border-top: 5px dotted #cccc;
          border-bottom: 5px dotted #cccc;
          width: 100%;
          padding: 10px;
        }
      }
    }
  }
}
