.body {
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(-45deg, #c9c0c0, #5f5b5d, #1c1e1f, #39413f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;

  .backgroundText {
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    margin-bottom: 2rem;
    min-height: 10vh;
    h2 {
      color: #fff;
      font-size: 4rem;
      position: absolute;
    }

    .welcomeText {
      color: transparent;
      -webkit-text-stroke: 2px #0f0e0e;
    }

    .welcomeText2 {
      color: #383331;
      animation: animate 4s ease-in-out infinite;
    }

    h3 {
      position: relative;
    }

    @keyframes animate {
      0%,
      100% {
        clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
      }

      50% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
