.section {
  margin: 5% 20%;
  .carousel {
    cursor: grab;
    overflow: hidden;

    .innerCarousel {
      display: flex;

      .item {
        min-height: 40rem;
        min-width: 30rem;
        width: 33%;
        padding: 40px;

        .img {
          width: 100%;
          height: 100%;
          border-radius: 2rem;
          pointer-events: none;
        }
      }
    }
  }
}
