.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem 0;

  .title {
    font-size: 2.5em;
    text-transform: uppercase;
  }

  .container {
    display: flex;
    justify-content: center;
    height: 70vh;
    padding: 10px;

    .text {
      width: 35%;
      background-color: orange;
      border-radius: 27px 0px 0px 27px;
    }

    .contact {
      width: 35%;
      background-color: white;
      border: 5px solid orange;
    }
  }
}
