$btn-width: 250px !default;
$btn-height: 80px !default;
$btn-full: $btn-height + $btn-width !default;
$btn-half: $btn-full/2 !default;
$bg-color: #eeeeee !default;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  background-color: white;
  border-radius: 0px 27px 27px 0px;
  -webkit-box-shadow: inset 0px 0px 27px 12px orange;
  box-shadow: inset 0px 0px 27px 12px orange;
  padding: 25px 10px;

  .div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 60%;

    .input {
      height: 2rem;
    }
    .message {
      resize: none;
    }
  }
}
