.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  background-color: white;
  border-radius: 0px 27px 27px 0px;
  -webkit-box-shadow: inset 0px 0px 27px 12px orange;
  box-shadow: inset 0px 0px 27px 12px orange;
  padding: 25px 10px;
  gap: 0;

  .title {
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Courier New';
  }
  .div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 60%;

    .input {
      height: 2rem;
      font-size: 1em;
    }
    .message {
      resize: none;
      height: 9rem;
      font-size: 1.3em;
    }
    .sendBtn {
      width: 30%;
      align-self: flex-end;
      box-shadow: 3px 3px 5px -1px #899599;
      background: linear-gradient(to bottom, #b8a4a4 5%, #e0d7e0 100%);
      border-radius: 12px;
      border: 1px solid #d6bcd6;
      display: inline-block;
      cursor: pointer;
      color: #584a54;
      font-size: 1em;
      padding: 5px 10px;
      text-shadow: 0px 0px 0px #36363a;
      text-transform: uppercase;

      &:hover {
        background: rgb(192, 179, 179);
        transition: 1s;
        color: rgb(235, 244, 247);
      }

      &:active {
        position: relative;
        top: 2px;
      }
    }
  }
}
