.section {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;

  .title {
    padding: 5px;
    margin-bottom: 2rem;
    font-size: 2.9em;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    color: rgb(235, 199, 153);
    letter-spacing: 0.2rem;
  }

  .container {
    display: flex;
    justify-content: center;
    height: 70vh;
    padding: 10px;

    .text {
      width: 35%;
      background-color: orange;
      border-radius: 27px 0px 0px 27px;
    }

    .contact {
      width: 35%;
      background-color: white;
      border: 5px solid orange;
    }
  }
}
